@model Animalink.AdminWebApp.Models.Nfts.TemplatesViewModel

@{
    ViewData["Title"] = "Templates";
}


<section>
    <br />
    <br />
    <nav class="nav nav-pills flex-column flex-sm-row">
        @*<a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Templates</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Create NFT</a>*@
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" asp-controller="Nft" asp-action="Index">Templates</a>
        <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" asp-controller="Nft" asp-action="Create">Template Creator</a>
    </nav>
    <br />
    <br />
</section>

@*---All NFTs---*@
<section class="AllNFTs">
    <h3>All NFTs</h3>
    <br />

    <div class="card-group">

        @foreach (var item in Model.AllTemplatesDataPocos)
        {
            <div class="col-2">
                <div class="card">
                    @if (item.NftName == "Black")
                    {
                        <img class="card-img-top" src="~/Media/Cards/Black.png" alt="Image">
                    }
                    else if (item.NftName == "White")
                    {
                        <img class="card-img-top" src="~/Media/Cards/White.png" alt="Image">
                    }
                    <div class="card-body text-center">
                        <p class="card-text">Name: @item.NftName <br /></p>
                        <a class="btn btn-primary" asp-controller="Nft" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <br />
                        <a class="btn btn-primary" asp-controller="Nft" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </div>
                </div>
            </div>
        }

    </div>
    <br />
</section>

