
@model Animalink.AdminWebApp.Models.Creator.TemplateTypeViewModel

@{
    ViewData["Title"] = "Add Template Type";
}

@section Styles{
    <link rel="stylesheet" href="~/css/" />
}


@*---Header---*@
<section>
    <br />
    <br />
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" asp-controller="Templates" asp-action="Index">Templates</a>
        <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" asp-controller="Templates" asp-action="CreatorPage">Creator</a>
    </nav>
    <br />
    <br />
</section>



<section class="AddTemplateType">

    <div id="template" class="card">
        <div class="card-body">
            <div class="ml-5 mr-5">
                <form asp-action="AddTemplateType">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-lg-3 col-md-6 col-lg-12">

                        <label asp-for="@Model.Name" class="control-label"></label>
                        <input asp-for="@Model.Name" class="form-control lg-5" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>

                    </div>

                    <div class="form-group ml-4">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a class="btn btn-primary" asp-controller="Templates" asp-action="CreatorPage">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br />

</section>