
@*@{
    ViewData["Title"] = "BuyNFT";
}

@section Styles{<link rel="stylesheet" href="~/css/BuyNftStyle.css" /> }*@



@*---Sorting---*@
<section class="Sorting">
    <p>Sorting</p>
    <br />
    <br />
    <br />
</section>


@*---All NFTs---*@
<section class="AllNFTs">
    <h3>All NFTs</h3>

    <div class="card-group">

        <div class="card">
            <img class="card-img-top" src="~/Media/Frog_mockup.png" alt="Image" style="max-width:100%">
            <div class="card-body">
                <p class="card-text">Tropical Frog</p>
                <a href="#" class="btn btn-primary">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="~/Media/Frog_mockup.png" alt="Image" style="max-width:100%">
            <div class="card-body">
                <p class="card-text">Tropical Frog</p>
                <a href="#" class="btn btn-primary">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>

    </div>
    <br />
</section>


@*---Almost Soldout NFTs---*@
<section class="AlmostGone">
    <h3>Almost Gone NFTs</h3>

    <div class="card-group">

        <div class="card" >
            <img class="card-img-top" src="~/Media/Frog_mockup.png" alt="Image">
            <div class="card-body">
                <p class="card-text">Tropical Frog</p>
                <a href="#" class="btn btn-primary">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>

        <div class="card" >
            <img class="card-img-top" src="~/Media/Frog_mockup.png" alt="Image">
            <div class="card-body">
                <p class="card-text">Tropical Frog</p>
                <a href="#" class="btn btn-primary">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>

    </div>
    
    <br />
</section>

