@{
    ViewData["Title"] = "Home Page";
}

@section Styles{ <link rel="stylesheet" href="~/css/IndexStyle.css" /> }



@*---ImageBanner---*@
<section class="Banner">
    <br />
    <img src="~/Media/bannerPNG.png" alt="Image"  />
    <h1> Animalink </h1>
    <br />


    @*<img src="../Media/bannerPNG.png" class="img-fluid" alt="Responsive image">*@
</section>


@*---Overall Statistics---*@
<section class="Statistics">
    <h3>Overall Statistics</h3>
    <br />
    <br />
    <br />
</section>


@*---What is Animalink---*@
<section class="WhatIsAlink">
    <h3>What is Animalink</h3>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.
    </p>
    <br />
</section>


@*---New NFTs---*@
<section class="NewNFTs">
    <h3>New NFTs</h3>
    <br />
    <br />
    <br />
</section>


@*---Almost Soldout NFTs---*@
<section class="AlmostSoldout">
    <h3>Almost Soldout NFTs</h3>
    <br />
    <br />
    <br />
</section>


@*---Purpose---*@
<section class="Purpose">
    <h3>Animalink Purpose</h3>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.
    </p>
    <br />
</section>


@*---Partners---*@
<section class="Partners">
    <h3>Who we help? Our Partners</h3>
    <p>Partner 1</p>
    <p>Partner 2</p>
    <p>Partner 3</p>
    <br />

</section>



